

.socials i:hover {
  color: #0F723A;
  transition: all 0.25s linear;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #0F723A!important;
}



.navbar-nav > li > .dropdown-menu {
  border-bottom: 5px solid #0F723A;
}



.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: #0F723A;
}


.btn-success , .btn-success:hover{
    color: #fff;
    background-color: #0F723A;
    border-color: #0F723A !important;
}


.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background:#0F723A!important;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #242C42;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}



.pic13 {
  height: auto;
  width: 100%;
  background: linear-gradient(
      rgba(15,114,58, 0.90), 
      rgba(15,114,58, 0.90)
    ),url("../img/search-img1.jpg")  no-repeat top fixed;
  background-size: cover;
  color: #ffffff;
}


a:hover {
  color: #0F723A!important;
  text-decoration: none;
  transition: all 0.25s linear;
}

/*color*/



.col2 {
  background: #0F723A;
  color: white;
}

.col3 {
  color: #0F723A!important;
}


.owl-theme .owl-controls .owl-page span {
  background: #0F723A!important;
}

.owl-theme .owl-controls .owl-buttons div {
  background: #0F723A!important;
  border-radius: 0px!important;
  transition: all 0.25s linear;
}



.fa1 {
  background: #0F723A
  font-size: 100px;
  color: white;
}



.pic7 .thumbnail .caption h3,
.pic11 .thumbnail p {
  color: #0F723A!important;
}


.price1:hover {
  background: #0F723A;
  padding-top: 10px;
  color: #0F723A;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  transition: all 0.25s linear;
  cursor: pointer;
}



.scroll-top {
  position: fixed;
  bottom: 1%;
  right: 6%;
  z-index: 100;
  background: transparent;
  padding: 0px 17px 12px 17px;
  font-size: 24px;
  border: 1px solid #0F723A;
}


.scroll-top:hover {
  background: #0F723A;
}

.theme-setting .content-theme-setting ul li[data-color="color-0"] {
    background-color: #86bc42;
	
}
.theme-setting .content-theme-setting ul li[data-color="color-1"] {
    background-color: #0F723A;
	margin-top:10px;
	padding-left:97px;
	padding-right:97px;
}
.theme-setting .content-theme-setting ul li[data-color="color-2"] {
    background-color: #7d3f98;
}
.theme-setting .content-theme-setting ul li[data-color="color-3"] {
    background-color: #0f723a;
}
.theme-setting .content-theme-setting ul li[data-color="color-4"] {
    background-color: #2aacff;
}
.theme-setting .content-theme-setting ul li[data-color="color-5"] {
    background-color: #E91E63;
}
.theme-setting .content-theme-setting ul li[data-color="color-6"] {
    background-color: #2bde73;
}
.theme-setting .content-theme-setting ul li[data-color="color-7"] {
    background-color: #f7d417;
}
.theme-setting .content-theme-setting ul li[data-color="color-8"] {
    background-color: #50bcb6;
}
.theme-setting .content-theme-setting ul li[data-color="color-9"] {
    background-color: #ef5734;
}
.theme-setting .content-theme-setting ul li[data-color="color-10"] {
    background-color: #8d6cab;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #0f723a !important;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}